@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


h1 {
	color: white;
	background-color: darkred; 
	width: auto;
	padding: 15px;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 20px;
}

h2 {
	color: darkred;
	margin-left: 30px;
	padding: 5px;
	Font-size: 22px;
	font-weight: bold;
}

h3 {
	color: darkred;
	margin-left: 60px;
	padding: 5px;
	padding-left: 0px;
	Font-size: 18px;
	font-weight: bold;
}

h4 {
	color: darkred;
	margin-left: 120px;
	padding: 5px;
	padding-left: 0px;
	font-size: 15px;
	font-weight: bold;
}

p {
	margin-left: 60px;
	margin-right: 90px;
}

#photo {
	margin-left: 150px;
	margin-right: 90px;
}

#project {
	margin-left: 150px;
	margin-right: 90px;
}

#about {
	margin-left: 150px;
	margin-right: 90px;
}

#contact {
	margin-left: 90px;
	margin-right: 90px;
}